apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patchesStrategicMerge:
- storefront-deploy.yaml
- platform-deploy.yaml
- deployment-cm.yaml
- storefront-cm.yaml
- platform-cm.yaml
- ingress-https.yaml
- platform-secrets.yaml
- ingress.yaml
- storage.yaml
- modules.json
- deployment.env

resources:
- ../../common-base
- rate-limit.yaml
- sync-hook.yaml

images:
- name: docker.pkg.github.com/virtocommerce/vc-platform/platform
  newName: docker.pkg.github.com/virtocommerce/vc-platform/platform
  newTag: 3.51.0-master-d8543dc4
- name: docker.pkg.github.com/virtocommerce/vc-storefront/storefront
  newName: docker.pkg.github.com/virtocommerce/vc-demo-storefront/demo-storefront
  newTag: 1.7.0-alpha.963-vds-74-845e8180
- name: docker.pkg.github.com/virtocommerce/vc-deploy-containers/platform-installer
  newName: docker.pkg.github.com/virtocommerce/vc-deploy-containers/platform-installer
  newTag: dev-test
