apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev
namePrefix: saas-

configMapGenerator:
- name: modules-config
  files:
  - modules.json
  # options:
  #   labels:
  #     workflow: "generator-platform"

resources:
- modules-pvc.yaml
- sync-hook.yaml
- presync-hook.yaml
- postsync-hook.yaml
- rbac.yaml