apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev
namePrefix: saas-

configMapGenerator:
- name: modules-config
  files:
  - modules.json

resources:
- modules-pvc.yaml
- sync-hook.yaml
#- presync-hook.yaml
- rbac.yaml